.idea
o

deployment https://github.com/Joram3/Workspace/issues/7#issue-3266992480https://github.com/Joram3/Workspace/issues/7#issue-3266992480 <> pri t?.. I'd. M_.  2389>> joram > 7689owuor ]passport nobk730136.  Essa ^&_<us embassy   .)<=loc<<]nairobo. Get \•visa  pfindhttps://github.com/Joram3/Workspace.gitecho "# Workspace" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Joram3/Workspace.git
git push -u origin mainCSRA CONSULAR SERVICES KENYA LIMITEDIOE9395694176. -,---)emailo#  Iprin5n>owuorjim721@gmail.com. set
7 brigade (field -MOB 589617) service no.<<__kenya army
 
 run